pages:
  stage: deploy
  script:
    - mkdir -p public
    - cp *.html public/
    - cp *.svg public/
    - cp readme.txt public/
  artifacts:
    paths:
      - public
  only:
    - main
    - master
